
#rtime_dto_1 {
	border: 1px solid black;
	width: 200px;
	height: 288px;
}

.rtime_dtos {
	display: inline-block;
	float: left;
}

.rtime_dto {
	border: 1px solid black;
	width: 200px;
	height: 30px;
}

#main_top {
	text-align: right;
}

#main1 {
	border: 1px solid black;
	height: 300px;
	height: i
}